<link rel="stylesheet" type="text/css" media="all" href="../../../appStyles/style.css">
<link rel="stylesheet" type="text/css" media="all" href="../../../appStyles/theme-dark.css">
<link rel="stylesheet" type="text/css" media="all" href="../../../appStyles/theme-light.css">

<script src="../scripts/lib/export-csv.js"></script>

<!-- inject:css -->
<!-- endinject -->

<div class="lt-vapp">

  <header class="lt-vapp-header small">
    <hgroup>
      <h1 class="lt-vapp-company_logo"></h1>
      <h2  class="lt-vapp-application_name">Name of the application</h2>
    </hgroup>
    <figure class="lt-vapp-logtrust-powered">
      <figcaption>
        Powered by
      </figcaption>
      <span class="lticon-logo_full"></span>
    </figure>
    <aside class="lt-vapp-details">
      <p class="timeDetail">
        FROM: <span id="calfrom"></span>
        TO: <span id="calto"></span>
      </p>
    </aside>
  </header>

  <nav class="lt-vapp-menu">
    <img src="https://logtrust-static.s3.amazonaws.com/static/appsVerticales/themes/common/default_logo.jpg" width="125px" height="30px"/>
    <ul class="lt-vapp-menu-main">
      <li class="active" main="Main1">
        <p class="lt-vapp-menu-item-name">
          <i class="lticon-analytics_presentation_statistics_graph"></i>
          <span>MAIN 1</span>
        </p>
        <nav class="lt-vapp-menu-scroll">
          <p class="lt-vapp-menu-scroll-titles">
            <strong>Acceso rápido</strong>
            <span>Desplázate hasta una de las secciones:</span>
          </p>
          <ul>
            <li section="Section11">API</li>
            <li section="Section12">CASPERS</li>
          </ul>
        </nav>
      </li>
    </ul>

    <ul class="lt-vapp-menu-preferences">
      <li class="lt-vapp-capture-button" title="Capturar la aplicación completa">
        <span class="lticon-polaroid_picture_image_photo"></span>
      </li>
      <li class="lt-vapp-options-button va-menu-trigger" title="Configuración general">
        <span class="lticon-settings_gear_preferences"></span>
      </li>
    </ul>
  </nav>

  <nav class="lt-vapp-config">
    <p class="lt-vapp-config-bar">
      <i class="lt-vapp-config-close LtAppIcon-close2"></i>
      <span>Cerrar</span>
    </p>

    <h4><i class="lticon-settings_gear_preferences"></i><span>Panel de configuración</span></h4>

    <div class="lt-vapp-config-form-wrapper">

      <form class="lt-form under-label">
        <h3 class="lt-form-title">Ajustes visuales</h3>

        <div class="lt-form-column-wrapper">
          <div class="lt-form-column">
            <fieldset class="lt-form-group">
              <div class="lt-form-field">
                <label>Tema</label>
                <select id="theme">
                  <option value="theme-light" selected>Claro</option>
                  <option value="theme-dark">Oscuro</option>
                  <option value="theme-imagenio">Imagenio</option>
                </select>
              </div>
              <div class="lt-form-field">
                <label>Tamaño de títulos</label>
                <select id="titleSize">
                  <option value="small-headers">Pequeño</option>
                  <option value="" selected>Normal</option>
                  <option value="big-headers">Grande</option>
                </select>
              </div>
            </fieldset>
          </div>

          <div class="lt-form-column">
            <fieldset class="lt-form-group">
              <div class="lt-form-field-inline">
                <input type="checkbox" value="false" id="displayCompact">
                <label for="displayCompact">Vista de aplicación en modo compacto</label>
              </div>

              <div class="lt-form-field-inline">
                <input type="checkbox" value="false" id="displayBordered">
                <label for="displayBordered">Títulos de sección con borde inferior</label>
              </div>

              <div class="lt-form-field-inline">
                <input type="checkbox" value="true" id="displayCollapsibles" checked>
                <label for="displayCollapsibles">Secciones y widgets contraíbles</label>
              </div>

              <div class="lt-form-field-inline">
                <input type="checkbox" value="true" id="displayDescription" checked>
                <label for="displayDescription">Mostrar descripciones de widgets</label>
              </div>

              <div class="lt-form-field-inline">
                <input type="checkbox" value="false" id="displayMenuWidgetsExpanded">
                <label for="displayMenuWidgetsExpanded">Opciones de widget siempre visibles</label>
              </div>
            </fieldset>
          </div>
        </div>

        <!--                <div class="lt-form-column-wrapper tv_mode">
        <div class="lt-form-column">
        <h3 class="lt-form-title">Modo pantalla de TV</h3>
        </div>
        <div class="lt-form-column">
        <div class="lt-form-field">
        <button class="black">ACTIVAR</button>
        </div>
        </div>
        </div>-->

        <div class="lt-form-column-wrapper">
          <div class="lt-form-column">
            <fieldset class="lt-form-group">
              <div class="lt-form-field">
                <label>Desde</label>

                <div id="custom_from_date" class="selectWrapper">
                  <input type="hidden" value=""/>

                  <div class="dropArrowDown">
                    <span class="LtAppIcon-arrow_down"></span>
                  </div>
                  <span class="custom_from_date_container"></span>
                </div>

              </div>
            </fieldset>
          </div>

          <div class="lt-form-column">
            <fieldset class="lt-form-group">
              <div class="lt-form-field dataRangeConfig">
                <label>Hasta</label>

                <div id="custom_to_date" class="selectWrapper">
                  <input type="hidden" value="">

                  <div class="dropArrowDown">
                    <span class="LtAppIcon-arrow_down"></span>
                  </div>
                  <span class="custom_to_date_container"></span>
                </div>

              </div>
            </fieldset>
          </div>
        </div>
      </form>
    </div>

    <div class="lt-vapp-config-footer">
      <button class="lt-vapp-config-close grey">
        Cancelar
      </button>
      <button class="okConfiguration">
        Actualizar
      </button>
    </div>
  </nav>

  <main class="lt-vapp-main" toMain="Main1">

    <section class="lt-vapp-section" toSection="Section11">
      <h3 class="lt-vapp-section-title">
        <i class="lticon-analytics_presentation_statistics_graph"></i>
        <span>API</span>
        <span class="lt-vapp-section-collapser lticon-vapp_expand"></span>
      </h3>

      <article class="lt-vapp-widget md-12 lg-12 tv-12">
        <header class="lt-vapp-widget-header">
          <h3>DATATABLE</h3>
          <p>w111</p>
          <nav class="lt-vapp-widget-options">
            <span class="lticon-information_about displayMoreInfo" about="w111"></span>
            <span class="lt-vapp-widget-collapser lticon-vapp_expand"></span>
            <span class="lt-vapp-widget-menu-launcher lticon-thin-0069a_menu_hambuger_bold"></span>
            <ul>
              <li>
                <i class="lticon-polaroid_picture_image_photo"></i>
                <span>Capturar gráfico</span>
              </li>
              <li>
                <i class="lticon-computer_laptop_download"></i>
                <span>Descargar datos</span>
              </li>
              <li>
                <i class="lticon-search_find_zoom2"></i>
                <span>Zoom</span>
              </li>
              <li class="gotoSearch" wid="w111">
                <i class="lticon-search_find_zoom2"></i>
                <span>Go to search</span>
              </li>
            </ul>
          </nav>
        </header>
        <div class="lt-vapp-widget-graphic graphic-table" id="w111"></div>
      </article>
      
      <article class="lt-vapp-widget md-12 lg-12 tv-12">
        <header class="lt-vapp-widget-header">
          <h3>HIGHCHART</h3>
          <p>w112</p>
          <nav class="lt-vapp-widget-options">
            <span class="lticon-information_about displayMoreInfo" about="w112"></span>
            <span class="lt-vapp-widget-collapser lticon-vapp_expand"></span>
            <span class="lt-vapp-widget-menu-launcher lticon-thin-0069a_menu_hambuger_bold"></span>
            <ul>
              <li>
                <i class="lticon-polaroid_picture_image_photo"></i>
                <span>Capturar gráfico</span>
              </li>
              <li>
                <i class="lticon-computer_laptop_download"></i>
                <span>Descargar datos</span>
              </li>
              <li>
                <i class="lticon-search_find_zoom2"></i>
                <span>Zoom</span>
              </li>
              <li class="gotoSearch" wid="w112">
                <i class="lticon-search_find_zoom2"></i>
                <span>Go to search</span>
              </li>
            </ul>
          </nav>
        </header>
        <div class="lt-vapp-widget-graphic" id="w112"></div>
      </article>
      
      <article class="lt-vapp-widget md-12 lg-12 tv-12">
        <header class="lt-vapp-widget-header">
          <h3>BICHORD</h3>
          <p>w113</p>
          <nav class="lt-vapp-widget-options">
            <span class="lticon-information_about displayMoreInfo" about="w113"></span>
            <span class="lt-vapp-widget-collapser lticon-vapp_expand"></span>
            <span class="lt-vapp-widget-menu-launcher lticon-thin-0069a_menu_hambuger_bold"></span>
            <ul>
              <li>
                <i class="lticon-polaroid_picture_image_photo"></i>
                <span>Capturar gráfico</span>
              </li>
              <!-- <li>
                <i class="lticon-computer_laptop_download"></i>
                <span>Descargar datos</span>
              </li> -->
              <li>
                <i class="lticon-search_find_zoom2"></i>
                <span>Zoom</span>
              </li>
              <li class="gotoSearch" wid="w113">
                <i class="lticon-search_find_zoom2"></i>
                <span>Go to search</span>
              </li>
            </ul>
          </nav>
        </header>
        <div class="lt-vapp-widget-graphic" id="w113"></div>
      </article>
      
    </section>
    
    <section class="lt-vapp-section" toSection="Section12">
      <h3 class="lt-vapp-section-title">
        <i class="lticon-analytics_presentation_statistics_graph"></i>
        <span>CASPERS</span>
        <span class="lt-vapp-section-collapser lticon-vapp_expand"></span>
      </h3>

      <article class="lt-vapp-widget md-12 lg-12 tv-12">
        <header class="lt-vapp-widget-header">
          <h3>HEATCALENDAR</h3>
          <p>w121</p>
          <nav class="lt-vapp-widget-options">
            <span class="lticon-information_about displayMoreInfo" about="w121"></span>
            <span class="lt-vapp-widget-collapser lticon-vapp_expand"></span>
            <span class="lt-vapp-widget-menu-launcher lticon-thin-0069a_menu_hambuger_bold"></span>
            <ul>
              <li>
                <i class="lticon-polaroid_picture_image_photo"></i>
                <span>Capturar gráfico</span>
              </li>
              <li>
                <i class="lticon-computer_laptop_download"></i>
                <span>Descargar datos</span>
              </li>
              <li>
                <i class="lticon-search_find_zoom2"></i>
                <span>Zoom</span>
              </li>
              <li class="gotoSearch" wid="w121">
                <i class="lticon-search_find_zoom2"></i>
                <span>Go to search</span>
              </li>
            </ul>
          </nav>
        </header>
        <div class="lt-vapp-widget-graphic" id="w121"></div>
      </article>
      
      <article class="lt-vapp-widget md-12 lg-12 tv-12">
        <header class="lt-vapp-widget-header">
          <h3>LINE</h3>
          <p>w122</p>
          <nav class="lt-vapp-widget-options">
            <span class="lticon-information_about displayMoreInfo" about="w122"></span>
            <span class="lt-vapp-widget-collapser lticon-vapp_expand"></span>
            <span class="lt-vapp-widget-menu-launcher lticon-thin-0069a_menu_hambuger_bold"></span>
            <ul>
              <li>
                <i class="lticon-polaroid_picture_image_photo"></i>
                <span>Capturar gráfico</span>
              </li>
              <li>
                <i class="lticon-computer_laptop_download"></i>
                <span>Descargar datos</span>
              </li>
              <li>
                <i class="lticon-search_find_zoom2"></i>
                <span>Zoom</span>
              </li>
              <li class="gotoSearch" wid="w122">
                <i class="lticon-search_find_zoom2"></i>
                <span>Go to search</span>
              </li>
            </ul>
          </nav>
        </header>
        <div class="lt-vapp-widget-graphic" id="w122"></div>
      </article>
      
    </section>
    
  </main>
  <div class="lt-vapp-overlay"></div>
</div>

<!-- inject:js -->
<!-- endinject -->